body{
    background-color: #f9f9f9;
}
header{
    margin-bottom: 70px;
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 80px;
}
section{
    margin-bottom: 85px;
    
}
.navbar-brand img{
    width: 100px;
}
.slide-head{
    margin-left: 30px;
}
.carousel-indicators li{
    background-image: linear-gradient(45deg,orange,rgba(247, 185, 70, 0.856));
    width: 10px;
    height: 8px;
    border-radius: 50%;
    transition: .4s;
 

}
.carousel-indicators li.active{
    width: 30px;
    height: 7px;
    border-radius: 40%;
}
.buy{
    background-color: black;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}
.slider-button{
    margin-left: 0%;
    margin-top: 20px;
}
.smartphone-color{
    color: orange;
}
.card-body h5, .card-body p{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 10px 10px 20px lightgray;
    padding-top: 15px;
    border-radius: 10px;
}
.card img{
    width: 50%;
    margin: auto;
}
.price{
    margin: 30px 0px;
}
.buy{
margin-left: 25%;
box-shadow: 7px 7px 7px lightgray;
}
#categories{
  
    padding: 100px 0px;
}
.cat-head h2{
    text-align: center;
}
.under-cat{
    width: 80px;
    height: 6px;
    background-image: linear-gradient(45deg,rgb(253, 219, 124),orange);
  
   margin-top: 30px;
   margin-bottom: 70px;
   border-radius: 2px;
}
.cat-img1{
   text-align: center;
   background-color: rgb(255, 254, 254);
   padding: 40px 0px;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
   margin-top: 50%;
   box-shadow: 8px 14px 40px lightgray;
}
.cat-img{
    text-align: center;
    background-color: rgb(255, 254, 254);
    padding: 40px 0px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 15px;
    box-shadow: 8px 14px 40px lightgray;
}
footer{
    text-align: center;
    font-size: 12px;

}